In [24]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [25]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [26]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [28]:
 # create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [32]:
# reflect an existing database into a new model
base = automap_base()


# reflect the tables
base.prepare(engine, reflect=True)

In [34]:
# View all of the classes that automap found
base.classes.keys()

['measurement', 'station']

In [40]:
# Save references to each table
measurement = base.classes.measurement

station = base.classes.station

In [41]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [50]:
# Find the most recent date in the data set.
max_date = session.query(func.max(measurement.date)).first()

max_date

('2017-08-23')

In [73]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 


# Calculate the date one year from the last date in data set.
one_year_data = dt.date(2017,8,23)- dt.timedelta(days = 365)

one_year_data

# Perform a query to retrieve the data and precipitation scores
twl_month_data = session.query(measurement.date, measurement.prcp).filter(measurement.date >= one_year_data).all()

twl_month_data

# Save the query results as a Pandas DataFrame and set the index to the date column

table = pd.DataFrame(twl_month_data, columns = ['Date', 'Precipitation'] )

table

# Sort the dataframe by date
table.sort_values('Date')


# Use Pandas Plotting with Matplotlib to plot the data

            Date  Precipitation
0     2016-08-23           0.00
1009  2016-08-23            NaN
1529  2016-08-23           1.79
704   2016-08-23           0.05
361   2016-08-23           0.15
...          ...            ...
1527  2017-08-22           0.00
1008  2017-08-23           0.00
360   2017-08-23           0.00
1528  2017-08-23           0.08
2229  2017-08-23           0.45

[2230 rows x 2 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
#use describe

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()